/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        font-family: "Roboto", "Sans";
    }

    /* For tablets: */
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }

    /* Start Navbar */
    .navbar {
        height: 4rem;
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .navbar-middle img {
        height: 1rem;
        width: auto;
    }

    .navbar-middle {
        display: flex;
        /* justify-content: center; */
        height: auto;
    }

    .navbar-icon {
        display: hidden;
    }
    /* End Navbar */

    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    /* End Content */

    /* Start Sidebar */
    .sidebar {
        display: none;
    }
    /* End Sidebar */

    /* Start Main Content */
    .main-content {
        display: flex;
        flex-direction: column;
    }
    /* End Main Content */

    /* Start Table */
    .table {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 2rem;
    }

    .table .header {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .table .table-overflow {
        overflow: auto;
        margin-top: 2rem;
        padding: 1rem;
    }

    .table .table-overflow table {
        justify-content: start;
        display: flex
    }

    .table .table-overflow table tr th, .table .table-overflow table tr td {
        text-align: start;
        padding: 1rem;
    }

    .table .table-overflow table tr td form a {
        text-decoration: none;
    }

    .table .table-overflow table tr td button, .table .table-overflow table tr td button:focus {
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .table .table-overflow table tr td a img,
    .table .table-overflow table tr td button img {
        width: 1rem;
        height: 1rem;
        padding: 0 0.5rem 0 0;
    }
    /* End Table */

    /* Start Form */
    .form {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
    }

    .form .header {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .form form .input {
        margin-top: 2rem;
    }

    .form form .input input, .form form .input input:focus {
        outline: none;
        border: none;
        height: 3.5rem;
        width: 100%;
        padding-left: 1rem;
        background-color: transparent;
        font-size: 1rem;
    }

    .form form .button-control {
        display: flex;
        margin-top: 2rem;
        width: 100%;
    }

    .form form .button-control button {
        background-color: white;
        border: none;
        padding: 0.8rem;
        background-color: black;
        color: white;
        font-size: 1rem;
        width: 8rem;
        font-weight: 700;
    }
    /* End From */
}
