/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        font-family: "Roboto", "Sans";
    }

    /* For mobile phones: */

    .col-xm-1 {
        width: 8.33% !important;
    }
    .col-xm-2 {
        width: 16.66% !important;
    }
    .col-xm-3 {
        width: 25% !important;
    }
    .col-xm-4 {
        width: 33.33% !important;
    }
    .col-xm-5 {
        width: 41.66% !important;
    }
    .col-xm-6 {
        width: 50% !important;
    }
    .col-xm-7 {
        width: 58.33% !important;
    }
    .col-xm-8 {
        width: 66.66% !important;
    }
    .col-xm-9 {
        width: 75% !important;
    }
    .col-xm-10 {
        width: 83.33% !important;
    }
    .col-xm-11 {
        width: 91.66% !important;
    }
    .col-xm-12 {
        width: 100% !important;
    }

    .navbar {
        height: 3rem;
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .navbar-brand img {
        height: 1rem;
        width: auto;
    }

    .navbar-middle {
        display: flex;
        /* justify-content: center; */
        height: auto;
    }

    .navbar-icon {
        display: none;
    }
    /* End Navbar */

    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    /* End Content */

    /* Start Sidebar */
    .sidebar {
        display: none;
    }
    /* End Sidebar */

    /* Start Main Content */
    .main-content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        background-color: blueviolet;
    }
    /* End Main Content */

    /* Start Table */
    .table {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: auto;
        /* padding: 2rem; */
    }

    .table .header {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .table .header h3 {
        font-size: 0.9rem;
    }

    .table .table-overflow {
        overflow-x: auto;
        margin-top: 2rem;
        background-color: khaki;
    }

    .table table {
        display: inline-block;
        justify-content: start;
        width: 100%;
    }

    .table table tr th,
    .table table tr td {
        text-align: start;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .table table tr td form a {
        text-decoration: none;
    }

    .table table tr td button,
    .table table tr td button:focus {
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .table table tr td a img,
    .table table tr td button img {
        width: 0.8rem;
        height: 0.8rem;
        padding: 0 0.5rem 0 0;
    }
    /* End Table */

    /* Start Form */
    .form {
        display: flex;
        flex-direction: column;
        width: auto;
        /* padding: 0 2rem 2rem 2rem; */
    }

    .form .header {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .form .header h3 {
        font-size: 0.9rem;
    }

    .form form .input {
        margin-top: 2rem;
    }

    .form form .input input,
    .form form .input input:focus {
        outline: none;
        border: none;
        height: 3.5rem;
        /* padding-left: 1rem; */
        width: 100%;
        font-size: 0.8rem;
    }

    .form form .button-control {
        display: flex;
        margin-top: 2rem;
        width: 100%;
    }

    .form form .button-control button {
        background-color: white;
        border: none;
        padding: 0.8rem;
        background-color: black;
        color: white;
        font-size: 0.9rem;
        width: 8rem;
        font-weight: 700;
    }
    /* End From */
}
