/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        font-family: "Roboto", "Sans";
    }

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-xm-1 {
        width: 8.33%;
    }
    .col-xm-2 {
        width: 16.66%;
    }
    .col-xm-3 {
        width: 25%;
    }
    .col-xm-4 {
        width: 33.33%;
    }
    .col-xm-5 {
        width: 41.66%;
    }
    .col-xm-6 {
        width: 50%;
    }
    .col-xm-7 {
        width: 58.33%;
    }
    .col-xm-8 {
        width: 66.66%;
    }
    .col-xm-9 {
        width: 75%;
    }
    .col-xm-10 {
        width: 83.33%;
    }
    .col-xm-11 {
        width: 91.66%;
    }
    .col-xm-12 {
        width: 100%;
    }

    .navbar {
        height: 3rem;
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .navbar-brand img {
        height: 1rem;
        width: auto;
    }

    .navbar-middle {
        display: flex;
        /* justify-content: center; */
        height: auto;
    }

    .navbar-icon {
        display: none;
    }
    /* End Navbar */

    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    /* End Content */

    /* Start Sidebar */
    .sidebar {
        display: none;
    }
    /* End Sidebar */

    /* Start Main Content */
    .main-content {
        display: flex;
        flex-grow: 10;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    /* End Main Content */
}
