/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        padding: 0;
        margin: 0;
        font-family: "Roboto", "Sans";
    }

    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

    /* Start Navbar */
    .navbar {
        height: 6rem;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .navbar-brand {
        display: flex;
        height: 6rem;
        justify-content: center;
        align-items: center;
        /* flex-grow: 1; */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .navbar-brand img {
        height: 2rem;
        width: auto;
    }

    .navbar-header {
        display: flex;
        height: 6rem;
        /* flex-grow: 8; */
    }

    .navbar-icon {
        display: flex;
        height: 6rem;
        /* flex-grow: 0.5; */
        justify-content: center;
        align-items: center;
    }

    .user-icon,
    .notif-icon {
        display: flex;
        margin: 0.5rem;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .user-icon a img,
    .notif-icon a img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /* End Navbar */

    /* Start Content */
    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    /* End Content */

    /* Start Sidebar */
    .sidebar {
        display: flex;
        justify-content: center;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .sidebar ul {
        margin-top: 2rem;
    }

    .sidebar ul li {
        list-style: none;
        line-height: 2.5rem;
        font-weight: 700;
        color: black;
    }

    .sidebar ul li a {
        text-decoration: none;
    }

    .sidebar ul li a img {
        width: 1rem;
        height: auto;
        padding-right: 1rem;
    }
    /* End Sidebar */

    /* Start Main Content */
    .main-content {
        display: flex;
        flex-direction: row;
        box-shadow: none;
    }
    /* End Main Content */

    /* Start Table Category */
    .table {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }

    .table .header-table {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .table-overflow {
        display: flex;
        overflow: auto;
        margin-top: 1.5rem;
        padding: 1.5rem;
        line-height: 2.5rem;
    }

    .table .box-table tr th {
        text-align: start;
        padding: 0 1rem 0 1rem;
    }

    .table .box-table tr td {
        padding: 0 1rem 0 1rem;
    }

    .table .box-table .tr-body td a {
        text-decoration: none;
    }

    .table .box-table .tr-body td button {
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .table .box-table .tr-body td a img, .table .box-table .tr-body td button img {
        width: 1rem;
        height: 1rem;
        padding: 0 0.5rem 0 0;
    }

    .add-new {
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        padding: 2.5rem 3rem 2.5rem 0;
    }

    .add-new .header-add-new {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width: fit-content;
    }

    .add-new .input {
        margin-top: 1.5rem;
    }

    .add-new form .input input {
        border-style: none;
        padding-left: 1.5rem;
        height: 3.5rem;
        width: 100%;
        font-size: 1rem;
    }

    .button-control {
        display: flex;
        margin-top: 1.5rem;
        width: 100%
        background-color: teal;
    }

    .button {
        background-color: white;
        border: none;
        padding: 0.8rem;
        background-color: gray;
        color: white;
        font-size: 1rem;
        width: 8rem;
        font-weight: 700;
    }
    /* End Table Category */
}
