/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        font-family: "Roboto", "Sans";
    }

    /* For desktop: */
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }

    /* Start Navbar */
    .navbar {
        height: 4rem;
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .navbar-brand img {
        height: 1rem;
        width: auto;
    }

    .navbar-middle {
        display: flex;
        /* justify-content: center; */
        height: auto;
    }

    .navbar-icon {
        display: none;
    }
    /* End Navbar */

    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    /* End Content */

    /* Start Sidebar */
    .sidebar {
        display: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    /* End Sidebar */

    /* Start Main Content */
    .main-content {
        display: flex;
        flex-grow: 10;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    /* End Main Content */
}
